* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    background-color: white;
    width: 400px;
    max-width: 1020px;
    overflow: hidden;
    border-radius: 5px;
}

.header {
    padding: 30px 0 20px 0;
    background-color: lightgrey;
}

.header h2 {
    text-align: center;
    text-transform: capitalize;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}

.form-control img {
    position: absolute;
    visibility: hidden;
    top: 32px;
    right: 10px;
}

.form-control .small {
    visibility: hidden;
    position: absolute;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
    border: 2px solid aqua;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.form-control.success input {
    border: 2px solid rgb(22, 218, 136);
}

.form-control.error input {
    border: 2px solid rgb(230, 46, 14);
}

.form-control.success img {
    color: rgb(22, 218, 136);
    visibility: hidden;
}

.form-control.error img {
    color: rgb(230, 46, 14);
    visibility: visible;
}

.form-control.error .small {
    color: rgb(230, 46, 14);
    visibility: visible;
}

.output {
    margin-top: 10px;
    text-align: center;
}

.output h2 {
    font-weight: 600;
}